@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.background {
    background-color: #FFD68F;
    position: relative;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.top-half {
    display: flex;
    width: 100vw;
    height: 45vh;
}

.bottom-half {
    display: flex;
    width: 100vw;
    will-change: height;
    z-index: -1;
}

h1.top {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
    color: #4C753F;
}

h1.bottom {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
    color: #FFD68F;
}

.wave {
    background-color: #FFD68F;
    position: absolute;
}

.top-half-actions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.bottom-half-actions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}